.auth-form{
    width: 40rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control{
    margin-bottom: 1rem;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-action button{
    background-color: aqua;
    font: inherit;
    border: 1px solid #01d0d0;
    border-radius: 5px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
.form-action button:hover,
.form-action button:active{
    background-color: azure;
    border-color: aquamarine;
}